:root {
  --rp-nav-height: 50px;
  --rp-sidebar-width: 250px;
  --rp-c-gray-light-4: transparent;
  --rp-radius: 0.375rem;
  --rp-radius-small: 0.375rem;
}
.rspress-nav {
  /* box-shadow: 0 1px 3px #3333331f; */
  border-bottom: 1px solid #ececec;
}
.rspress-sidebar {
  border-right: 1px solid #ececec;
}
.rspress-nav-search-button {
  height: 30px;
}
.rspress-nav-menu-item {
  height: 30px;
}
